$about-image-width: 410px;
$about-image-height: 410px;

.about-container {
  height: 84vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 8rem;
  h1{
    padding-bottom: 20px;
  }
  p, h2{
    padding-bottom:20px;
  }
h3{
  padding-bottom: 4px !important;
}



  div > img {
    width: $about-image-width;
    height: $about-image-height;
  }

  .text-area {
    font-family: "Josefin Sans", sans-serif;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    flex-wrap: nowrap;
    overflow-y: scroll;
    height: 465px;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #cf5757;
    }
    p {
      font-size: 20px;
      line-height: 40px;
    }
  }
}

.text-area::-webkit-scrollbar {
  display: none;
}

@media (max-width: 800px) {
	.about-container{
    flex-direction: column !important;
    padding-inline: 100px;
    gap: 2rem;

    .text-area p{
      font-size: 15px;
    line-height: 30px;
    }
    div > img {
      margin-top: 20px;
      width: 210px;
      height: 210px;
    }
  }
  
}

@media (max-width: 500px) {
	.about-container{
    flex-direction: column !important;
    padding-inline: 100px;
    gap: 2rem;



    .text-area p{
      font-size: 15px;
     line-height: 30px;
     width: 380px !important;
    padding: 20px !important;
    }
    div > img {
      margin-top: 20px;
      width: 210px;
      height: 210px;
    }
  }
  
}


