$about-image-width: 400px;
$about-image-height: 400px;

.about-container {
  height: 84vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  h1{
    padding-bottom: 30px;
  }
  p, h4{
    padding-bottom:26px;
  }

  h5{
    padding-bottom: 6px;
  }



  div > img {
    width: $about-image-width;
    height: $about-image-height;
  }

  .text-area {
    font-family: "Josefin Sans", sans-serif;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    flex-wrap: nowrap;
    overflow-y: scroll;
    height: 465px;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #cf5757;
    }
    p {
      // font-weight: 400;
      font-size: 18px;
      line-height: 30px;
    }
  }
}

.text-area::-webkit-scrollbar {
  display: none;
}
