header {
  position: fixed;
  width:100%;
  background: white;
  top: 0;
  height: 100px;
  padding-inline: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 10px;

  .active-link {
    color: #cf5757 !important;
    font-weight: 600 ;
  }
  img {
    width: 60px;
    height: 60px;
  }
  ul {
    list-style: none;
    font-weight: semi-bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    li {
      cursor: pointer;
      color: black;
      a {
        text-decoration: none;
        color: black;
        &:hover {
          color: #cf5757 !important;
        }
      }
    }
  }
}

@media (max-width: 620px) {
  header ul {
    gap: 2rem;
  }
}
